* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://img.freepik.com/vetores-gratis/conjunto-de-icones-de-nuvens-brancas-de-desenho-animado-isolado-em-azul_90220-262.jpg");
  background-position: bottom center;
  background-size: cover;
}

.App2 {
  text-align: center;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://cdn.pixabay.com/photo/2017/07/13/16/16/paper-2500942_960_720.jpg");
  background-position: bottom center;
  background-size: cover;
}
